/* Breakpoints */
$mobile-breakpoint: 600px;
$tablet-breakpoint: 800px;

// Viewport Sizes
$desktop-width: 1440px;
$desktop-height: 900px;

$mobile-width: 430px;
$mobile-height: 650px;

$tablet-width: 800px;
$tablet-height: 1024px;

$white: #fafafa;
